('localhost', 'localhost', 'RevolucioBot', BotPassword('Revolucio', '[replace by bot password generated in Special:BotPasswords]'))
('fr', 'vikidia', 'RevolucioBot', BotPassword('Revolucio', '[replace by bot password generated in Special:BotPasswords]'))
('en', 'vikidia', 'RevolucioBot', BotPassword('Revolucio', '[replace by bot password generated in Special:BotPasswords]'))
('dicoado', 'dicoado', 'RevolucioBot', BotPassword('Revolucio', '[replace by bot password generated in Special:BotPasswords]'))